/* 
# FONT-WEIGHT (sesuaikan di figma ya guys)
font-weight: 400; => Regular
font-weight: 500; => Medium
font-weight: 600; => SemiBold
font-weight: 700; => Bold
font-weight: 800; => ExtraBold
font-weight: 900; => Black
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #234CAD;
    ---secondary: #F2F6FF;
    --white: #F2F6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    color: var(--primary);
}

body {
    background-color: #fff;
    /* Default font 16px */
    font-size: 16px;
}


/* NAVBAR / HEADER */
header section {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 100px;
}

.btn-menu {
    background-color: var(---secondary);
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    gap: 5px;
    cursor: pointer;
}

.btn-menu span {
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--primary);
    transition: transform 0.3s;
}

.btn-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 4px);
}

.btn-menu.active span:nth-child(2) {
    transform: rotate(-45deg) translate(2px, -4px);
}

.nav-links {
    display: none;
    transition: all 0.3s;
    transform-origin: center left;
    transform: scale(0);
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-links ul li a {
    font-size: 1.12em;
    font-weight: 600;
}

.nav-links ul li a:hover {
    color: #234cadb1;
}

section .button {
    display: flex;
    gap: 25px;
}

.button #loginButton,
.button #signUpButton {
    width: 135px;
    height: 50px;
    font-weight: 700;
    font-size: 1em;
    border-radius: 100px;
    transition: all 0.1s;
}

.button #loginButton:hover,
.button #signUpButton:hover {
    filter: drop-shadow(3px 3px 5px #00000010);
    cursor: pointer;
}

.button #loginButton {
    /* border: 3px solid var(--primary); */
    outline: solid 3px var(--primary);
    background-color: #fff;
}

.button #signUpButton {
    outline: none;
    background-color: var(---secondary);
}

/* MAIN SECTION / KONTEN */
/* HERO SECTION */
.hero-section {
    position: relative;
    width: auto;
    height: 575px;
    margin: 100px;
    border-radius: 60px;
    background-color: var(---secondary);
    display: flex;
}

.text-content:first-child {
    width: 375px;
    height: 100%;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.text-content:first-child h1 {
    font-size: 3em;
}

.text-content:first-child p {
    line-height: 2em;
}

.text-content:first-child button {
    width: 200px;
    height: 65px;
    font-size: 1.37em;
    font-weight: 700;
    border-radius: 100px;
    border: 3px solid var(--primary);
    background-color: var(---secondary);
    transition: all 0.3s;
}

.text-content:first-child button:hover {
    filter: drop-shadow(3px 3px 5px #00000030);
    transform: scale(1.1);
    cursor: pointer;
}

/* card */
.hero-section .card-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* card 1 */
.hero-section .card1,
.hero-section .card8 {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    background-color: white;
}

.hero-section .card1 img,
.hero-section .card8 img {
    position: relative;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* card 2 */
.hero-section .card2 .card-content,
.hero-section .card4 .card-content,
.hero-section .card6 .card-content,
.hero-section .card7 .card-content {
    width: 350px;
    height: 100px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;

}

.hero-section .card2 .card-content .progress img,
.hero-section .card5 .card-content .progress img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(---secondary);
    border-radius: 100px;
}

.hero-section .card2 .card-content .progress,
.hero-section .card5 .card-content .progress {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    animation: infinite circle-progress 2s;
}

.hero-section .card2 .card-content .progress:hover,
.hero-section .card5 .card-content .progress:hover {
    animation: none;
    cursor: pointer;
    background:
        radial-gradient(closest-side, white 90%, transparent 80% 100%),
        conic-gradient(var(--primary) 25%, var(---secondary) 0);
}

.hero-section .card2 .card-content .text-content p:first-child,
.hero-section .card3 .card-content .text-content p:first-child,
.hero-section .card4 .card-content .text-content p:first-child,
.hero-section .card6 .card-content .text-content p:first-child,
.hero-section .card7 .card-content .text-content p:first-child {
    font-weight: 700;
}

.hero-section .card2 .card-content .text-content p:last-child,
.hero-section .card3 .card-content .text-content p:last-child,
.hero-section .card4 .card-content .text-content p:nth-child(2),
.hero-section .card4 .card-content .text-content p:nth-child(3),
.hero-section .card6 .card-content .text-content p:nth-child(2),
.hero-section .card6 .card-content .text-content p:nth-child(3),
.hero-section .card7 .card-content .text-content p:last-child {
    margin-top: 7.4px;
    font-size: 0.75em;
}

/* card 3 */
.hero-section .card3 .card-content {
    width: 276px;
    height: 160px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-section .card3 .card-content div:first-child {
    display: flex;
    align-items: center;
}

.hero-section .card3 .card-content .icon,
.hero-section .card4 .card-content .icon,
.hero-section .card6 .card-content .icon,
.hero-section .card7 .card-content .icon {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .card3 .card-content .icon {
    border: 3px solid var(--primary);
}

.hero-section .card3 .card-content .meeting-parts {
    display: flex;
    margin: 0 20px;
}

.meeting-parts div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625em;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid white;
    background-color: var(---secondary);
}

.meeting-parts div:nth-child(2) {
    position: relative;
    left: -10px;
}

.meeting-parts div:nth-child(3) {
    position: relative;
    left: -20px;
}

.meeting-parts div:last-child {
    position: relative;
    left: -30px;
}

/* card 4 */
.hero-section .card4 .card-content .icon,
.hero-section .card6 .card-content .icon,
.hero-section .card7 .card-content .icon {
    position: relative;
    font-weight: 700;
    background-color: var(---secondary);
}

.hero-section .card4 .card-content .icon .notif,
.hero-section .card6 .card-content .icon .notif {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid white;
    background-color: var(--primary);
}

.hero-section .card4 .card-content .icon .notif p,
.hero-section .card6 .card-content .icon .notif p {
    font-size: 0.375em;
    color: white;
}

.hero-section .card4 .card-content .text-content,
.hero-section .card6 .card-content .text-content {
    position: relative;
    width: 230px;
    height: 45px;
}

.hero-section .card4 .card-content .text-content p:nth-child(3),
.hero-section .card6 .card-content .text-content p:nth-child(3) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

/* card 5 */
.hero-section .card5 .card-content {
    position: absolute;
    top: 75px;
    left: 400px;
    width: 130px;
    height: 160px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-section .card5 .card-content .progress:hover {
    background:
        radial-gradient(closest-side, white 90%, transparent 80% 100%),
        conic-gradient(var(--primary) 75%, var(---secondary) 0);
}

.hero-section .card5 .card-content .progress {
    margin-top: 0;
}

.hero-section .card5 .card-content .text-content p {
    font-size: 0.75em;
}

/* card 6 */
.hero-section .card6 .card-content {
    position: absolute;
    bottom: 220px;
    left: 300px;
}

/* card 7 */
.hero-section .card7 .card-content {
    position: absolute;
    bottom: 95px;
    left: 400px;
}

/* card 8 */
.hero-section .card8 {
    position: absolute;
    bottom: -5px;
    left: 375px;
}

/* ICON SECTION */
.icon-section {
    display: flex;
    justify-content: space-between;
    margin: 150px 100px;
}

.card1-icon {
    display: flex;
    width: 532px;
    height: 100px;
}

.card2-icon {
    display: flex;
    margin-left: 155px;
    width: 553px;
    height: 100px;
}

.cloud-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(---secondary);
    border-radius: 100px;
}

.cloud-icon img {
    width: 44px;
    height: 32px;
    top: 34px;
    left: 28px;
    border: 3px;
}

.lock-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(---secondary);
    border-radius: 100px;
}

.lock-icon img {
    width: 28px;
    height: 42px;
    top: 29px;
    left: 36px;
    border: 3px;
}

.text-content-icon {
    margin-left: 30px;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-content-icon .title {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 49px;
}

.text-content-icon p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}


/* TEXT-RIGHT ICON */
.text-right .txt-r-container {
    display: flex;
    margin: 0 100px;
}

.text-right .card {
    width: 575px;
    height: 575px;
    border-radius: 60px;
    background-color: var(---secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card 1 */
.text-right .card1 .card-content,
.text-right .card2 .card-content,
.text-right .card3 .card-content {
    width: 438px;
    height: 125px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background-color: white;
}

.text-right .card1 .card-content .icon,
.text-right .card2 .card-content .icon,
.text-right .card3 .card-content .icon {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(---secondary);
}

.text-right .card1 .card-content .icon p,
.text-right .card2 .card-content .icon p,
.text-right .card3 .card-content .icon p {
    font-weight: bold;
    font-size: 1.4em;
}

.text-right .card1 .card-content .icon .notif,
.text-right .card2 .card-content .icon .notif,
.text-right .card3 .card-content .icon .notif {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    outline: 2.5px solid white;
    background-color: var(--primary);
}

.text-right .card1 .card-content .icon div p,
.text-right .card2 .card-content .icon div p,
.text-right .card3 .card-content .icon div p {
    color: white;
    font-size: 0.5em;
    font-weight: bold;
}

.text-right .card1 .card-content .text-content,
.text-right .card2 .card-content .text-content,
.text-right .card3 .card-content .text-content {
    position: relative;
    width: 288px;
}

.text-right .card1 .card-content .text-content p:nth-child(1),
.text-right .card2 .card-content .text-content p:nth-child(1),
.text-right .card3 .card-content .text-content p:nth-child(1) {
    font-weight: bold;
    font-size: 1.25em;
}

.text-right .card1 .card-content .text-content p:nth-child(2),
.text-right .card2 .card-content .text-content p:nth-child(2),
.text-right .card3 .card-content .text-content p:nth-child(2) {
    font-size: 0.9em;
    margin-top: 7px;
}

.text-right .card1 .card-content .text-content p:nth-child(3),
.text-right .card2 .card-content .text-content p:nth-child(3),
.text-right .card3 .card-content .text-content p:nth-child(3) {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
}

/* Card 2 */
.text-right .card2 .card-content,
.text-right .card3 .card-content {
    transform: scale(0.8);
    transform-origin: top;
    margin-top: 25px;
    margin-bottom: -25px;
}

/* Card 3 */
.text-right .card3 .card-content {
    transform: scale(0.6);
    margin-bottom: -50px;
}

/* LANJUTIN DISINI GUYS */











































/* ABAIKAN INI */
/* ini cuma buat animasi aja */

@keyframes circle-progress {
    0% {
        background:
            radial-gradient(closest-side, white 90%, transparent 80% 100%),
            conic-gradient(var(--primary) 0%, var(---secondary) 0);
    }

    20% {
        background:
            radial-gradient(closest-side, white 90%, transparent 80% 100%),
            conic-gradient(var(--primary) 25%, var(---secondary) 0);
    }

    40% {
        background:
            radial-gradient(closest-side, white 90%, transparent 80% 100%),
            conic-gradient(var(--primary) 50%, var(---secondary) 0);
    }

    65% {
        background:
            radial-gradient(closest-side, white 90%, transparent 80% 100%),
            conic-gradient(var(--primary) 75%, var(---secondary) 0);
    }

    80% {
        background:
            radial-gradient(closest-side, white 90%, transparent 80% 100%),
            conic-gradient(var(--primary) 100%, var(---secondary) 0);
    }

    100% {
        background:
            radial-gradient(closest-side, white 90%, transparent 80% 100%),
            conic-gradient(var(--primary) 0%, var(---secondary) 0);
    }
}